<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    SA
    <a href="/v1/apis/logout">logout</a>
    <div id="reviewUsers">Review Users</div>
    <div id="reviewQuestions">Review Questions</div>
    <div id="viewUsers">View Users</div>
    <div id="addUsers">Add Users</div>
    <div id="createRoles">Create Roles</div>
    <div id="addQuestions">Add Questions</div>
    <script src="/js/super_admin/index.js"></script>
</body>
</html>