#bodyRow {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.button {
    width: 45%;
    margin: 8px 2px 8px 2px;
    color: #ffffff;
    background-color: #5cb85c;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    height: 36px;
    vertical-align: middle;
}
.profile {
    padding: 0 1.5rem !important;
}

@media only screen and (min-width: 601px){
    .profile {
        padding: 0 0 0 1.5rem !important;
    }
}