<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Probe Form</title>
    <link rel="stylesheet" href="/client/main.css">
    <link rel="stylesheet" href="/client/Navbar/main.css">
    <link rel="stylesheet" href="/client/Profile/main.css">
    <link rel="stylesheet" href="/client/Cards/main.css">
    <link rel="stylesheet" href="/client/modal.css">

</head>
<body>
    <div class="navbar-fixed">
        <nav data-component="Navbar">
            <div class="nav-wrapper">
                <label id="type" class="brand-logo center"></label>
                <label id="logout">Logout</label>
            </div>
        </nav>
    </div>
    <div id="bodyRow" class="row block">
        <div class="col s12 m4 l3 profile">
            <div id="profile" data-component="Profile" class="card center">
                <label>Name</label>
                <input id="name" type="text" placeholder="name" disabled />
                <label>Email</label>
                <input id="email" type="email" placeholder="email" disabled />
                <label>Designation</label>
                <input id="designation" type="text" placeholder="designation" disabled />
                <!-- <div class="row"> -->
                    <button id="cancel" class="button">Cancel</button>
                    <button id="submit" class="button">Submit</button>
                    <button id="changePassword" class="button">Change Password</button>
                    <button id="editProfile" class="button">Edit Profile</button>
                <!-- </div> -->
            </div>
        </div>
        <div id="cardContainer" class="container col s12 m8 l9">
            <div id="cards" data-component="Cards" class="row">
            </div>
        </div>
    </div>
    <!-- <script type="module" src="/js/profileCard.js"></script> -->
    <!-- <script type="module" src="/js/dashboard.js"></script> -->
    <script type="module" src="/main.js"></script>
</body>
</html>