<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/client/main.css">
    <link rel="stylesheet" href="/client/Login/main.css">
</head>
<body>
    <div class="row">
        <div class="col s12 m4 offset-m4" data-component="Login">
            <div class="card">
                <div class="card-action purple lighten-1 white-text">
                    <h3>Login</h3>
                </div>
                <div class="card-content">
                    <div class="form-field">
                        <label for="username">Username</label>
                        <input type="text" id="username">
                    </div><br>
                    <div class="form-field">
                        <label for="password">Password</label>
                        <input type="password" id="password">
                    </div><br>
                    <div class="form-field">
                       <button id="login" class="btn-large purple">Login</button>
                    </div><br>
                    <div id="errorMessage"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/main.js"></script>
</body>
</html>